$black-bis: hsl(0, 0%, 7%);
$navbar-background-color: $black-bis;
$white-bis: hsl(0, 0%, 98%);
$navbar-box-shadow-color: transparent;
$navbar-box-shadow-size: 0 2px 0 0;
$navbar-height: 5rem;
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 2rem;
$navbar-z: 30;
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-dark: hsl(0, 0%, 29%);
$navbar-item-color: $grey-light;
$navbar-item-hover-color: $grey-light;
$navbar-item-active-color: $grey;
$navbar-burger-color: $grey-light;
$navbar-tab-hover-border-bottom-color: $grey;
$navbar-tab-active-color: $grey;
$navbar-tab-active-border-bottom-color: $grey;
$navbar-dropdown-arrow: $grey-light;
$navbar-dropdown-item-active-background-color: $black-bis;
$navbar-dropdown-item-active-color: $grey;
$navbar-dropdown-item-hover-background-color: $white-bis;
$navbar-dropdown-background-color: $black-bis;
$navbar-dropdown-item-hover-color: $grey;
$primary: $grey-dark;
$body-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
